.navigation{
    float: right;
    top: 200px;
    height: 50%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px 0px 20px;
    background-color: #000000;
}

.navigation a li{
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
    position: static;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: #000000;
}

.item-logo {
    flex-grow: 1;
    color: white;
    font-size: 40px;
    padding: 20px 40px;
}

.item {
    flex-grow: 1;

}

.item-menu {
    flex-grow: 1;
    font-size: 20px;
    padding: 0px 30px;
}


.content-wrapper {
    padding: 20px 30px 30px 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.content {
flex: 0 0 70px;
}

/*.picture {*/
/*    flex: 0 0 512px;*/
/*    width: 512px;*/
/*    height: 512px;*/
/*}*/


.shadow-text{
  color: #ffffff; /* Цвет  текста */
  font-size: 1em; /* Размер  текста */
  padding: 10px 0px;
  text-transform: uppercase;
  line-height: 1;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.shadow-text:hover{
  color: #6cfc02; /* Меняем цвет текста */

}